<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UFT-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page Three</title>
        <link rel="icon" type="image/svg+xml" href="/home/chirayu/CSC-317/Assignment 5/resources/favicon.svg" />
        <link rel="stylesheet" href="style-page.css">
    </head>
    <body style="background-color: rgb(255, 255, 255);">

    <!--Nav Bar-->
    <nav class="menu">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="two.html">Page Two</a></li>
            <li><a href="three.html">Page Three</a></li>
        </ul>
    </nav>

    <!--SVG Required-->
    

    <img src="../resources/map.svg"></img>
           
    </body>
</html>